<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <br />
                      <div class="form-group" >
                        <div class="col-lg-12 col-md-12">
                          Date: <%= @expense.date %>
                        </div>
                        <div class="col-lg-12 col-md-12" style="padding-top:2%">
                           
                        </div>
                      </div>
                      <div class="form-group" >
                        <div class="col-lg-12 col-md-12">
                          Item: <%= @expense.item %>
                        </div>
                        <div class="col-lg-12 col-md-12" style="padding-top:2%">
                           
                        </div>
                      </div>
                      <div class="form-group" >
                        <div class="col-lg-12 col-md-12">
                          Method: <%= @expense.method %>
                        </div>
                        <div class="col-lg-12 col-md-12" style="padding-top:2%">
                           
                        </div>
                      </div>
                      <div class="form-group" >
                        <div class="col-lg-12 col-md-12">
                          Amount: <%= @expense.amount %>
                        </div>
                        <div class="col-lg-12 col-md-12" style="padding-top:2%">
                           
                        </div>
                      </div>
                      <div class="form-group" >
                        <div class="col-lg-12 col-md-12">
                          Category: <%= @expense.category.name %>
                        </div>
                        <div class="col-lg-12 col-md-12" style="padding-top:2%">
                           
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                          <%= link_to 'Edit', edit_expense_path(@expense), :class => "btn btn-success" %> |
                          <%= link_to 'Back', expenses_path, :class => "btn btn-success" %>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>