<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href=<%= expenses_path %> class="site_title"><i class="fa fa-clock-o"></i> <span>Daily Expenses</span></a>
            </div>

            <div class="clearfix"></div>
            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <!-- <li><a><i class="fa fa-home"></i> Home</a> -->
                  <li><%= link_to "Home", expenses_path, :class => "fa fa-home" %>
                  </li>
                  <li><%= link_to "Add Expenses", new_expense_path, :class => "fa fa-edit" %></li>
                  <li><%= link_to "Summary", dashboard_summary_path, :class => "fa fa-list" %></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                <% if user_signed_in? %>
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="" alt=""><%= current_user.email %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
                  </ul>
                  <% else %>
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="" alt="">Login to continue
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                    <%= link_to "Login", new_user_session_path  %>
                    </li>
                    <li> 
                    <%= link_to "Sign up", new_user_registration_path  %>
                    </li>
                  </ul>
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
